
<html>
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Teatres de Catalunya</title>
        <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<div id="bg">
			<div id="outer">
				<div id="header">
					<div id="logo">
						<h1>
							<a href="#">Teatre Catalunyans</a>
						</h1>
					</div>
					
				</div>
				<div id="main">
					<div id="sidebar">
						<h3>
							Hola benvingut!
						</h3>
						<p>
							Aqui tens tots els links que pots llistar:
						</p>
						<ul class="linkedList">
							<li class="first">
								<a href="#">Escriptors</a>
							</li>
							<li>
								<a href="actors">Actors</a>
							</li>
							<li>
								<a href="#">Directors</a>
							</li>
							<li>
								<a href="#">Representacions</a>
							</li>
							<li class="last">
								<a href="#">Obres de teatre</a>
							</li>
						</ul>
					</div>
					<div id="content">
						<div id="box1">
							<h2>
								Aqui llistarem el contingut de les llistes......
							</h2>
							
							<p>
								Bla bla bla
							</p>
						</div>
						
						<br class="clear" />
					</div>
					<br class="clear" />
				</div>
			</div>
			<div id="copyright">
				&copy; CatalunyaLliure | Design by Carol</a>
			</div>
		</div>
    </body>
</html>
